body{
  background-color: white;
  text-align: center;
  position: relative;
  margin: 0px auto;
}

.bg{
  margin: 0px auto;
  width: 1260px;
  height: auto;
  text-align: left;
}

nav{
  background-color: white;
  margin-left: 90px;
  margin-bottom: 19px;
  text-align: left;
}

.p_nav{
  font-family: 'Buxton Sketch',serif;
  font-size: 24px;
  color:#7F7F7F;
  float: left;
  margin-right: 10px;
  padding-top: 15px;
  padding-left: 30px;
  padding-bottom: 10px;
}

.language{
  font-family: 'Buxton Sketch',serif;
  font-size: 24px;
  color:#D0CECE;
  float:left;
  margin-right: 100px;
  margin-left: 100px;
  padding-top: 0px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.lag_arrow{
  margin: 0px auto;
  height:15px;
  width: 25px;
}

.big_pic{
  min-width: 100%;
  width: auto;
  height: auto;
  float:left;
  margin: 0px auto;
  position: relative;
  opacity: 0.8;
  margin-bottom: 10px;
}

.logo{
  position: absolute;
  top: 150px;
  left: 500px;
}

.head{
  font-family: 'Buxton Sketch',serif;
  font-size: 36px;
  color:#7F7F7F;
  float: center;
  text-align: center;
  margin: 0px auto;
}

.hr{
  margin-top:0px;
  margin-bottom:0px;
  margin-left:40px;
  margin-right:40px;
}

.p_info{
  font-family: 'Buxton Sketch',serif;
  font-size: 18px;
  color:#7F7F7F;
  float:center;
  text-align: center;
  margin-top: 10px;
  padding-left: 60px;
  padding-right: 60px;
}

.spic_div{
  float:left;
  clear:both;
  margin-left:40px;
  margin-bottom:10px;
}

.small_pic_div{
  position:relative;
  float:left
}

.small_pic{
  width:395px;
  height:190px;
  opacity: 0.8;
  position:relative;
  float:left;
}

.pic_div{
  width:395px;
  height: auto;
  position: absolute;
  background-color: white;
  opacity: 0.9;
  clear:inherit;
}

#headr{
  font-family: 'Buxton Sketch',serif;
  color:#2F2F2F;
  font-size: 24px;
  margin-bottom: 0px auto;
  text-align: center;
  float:inherit;
}

#infor{
  font-family: 'Buxton Sketch',serif;
  color:#2F2F2F;
  font-size: 18px;
  text-align: center;
  float:inherit;
}

#headline{
  font-family: 'Buxton Sketch',serif;
  color:#7F7F7F;
  font-size: 24px;
  float:center;
  text-align: center;
}

#review_name{
  float:right;
  margin-top:15px;
  margin-bottom:10px;
}

.share{
  background-color:#DFF7F7;
  float:center;
  text-align:center;
   padding-top:10px;
   clear:both
}

.share_div{
  float:center;
  text-align:center;
  margin-top:10px;
  padding-bottom:10px;
}

.social_pic{
  width:65px;
  height: 65px;
}

#footer_p1{
  font-family: 'Buxton Sketch',serif;
  color:#AFAFAF;
  font-size: 13px;
  float:left;
  margin-left: 30px;
}

#footer_p2{
  font-family: 'Buxton Sketch',serif;
  color:#AFAFAF;
  font-size: 13px;
  float:right;
  margin-right: 30px;
}
